.dashboard-container {
    display: flex;
    height: 100vh; // Full screen height
    app-sidebar {
        width: 220px;
        height: 100%;
        // background-color: #1e88e5;
    }
    .main-dashboard {
        flex: 1;
        padding: 1.5rem;
        overflow-y: auto;
        background-color: #f4f6f8;
    }
}

.pie-charts-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.kpi-pie-card {
    margin-bottom: 20px;
    padding: 1rem;
}

.kpi-pie-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
}

.product-share-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

app-chart-wrapper {
    flex: 1 1 200px;
    min-width: 200px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px 0;
}

.stat-card {
    flex: 1 1 22%;
    min-width: 220px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

.card-value {
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
}

.card-icon {
    font-size: 36px;
}